# See http://help.github.com/ignore-files/ for more about ignoring files.

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor/*
!/vendor/loader.js

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store
Thumbs.db
/coverage/*
