<h1>Documents</h1>

<ul>
 {{#each model}}
 <li>
	 <h2>{{#link-to 'document' this}}{{key}}{{/link-to}}</h2>
	 <div class="">{{title}}</div>
	 <div class="">{{organisation}}</div>
 </li>
  {{/each}}
</ul>

{{outlet}}
