<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a ng-href="#/documents/1">Document 1</a></li>
  </ul>
  <h3 class="text-muted">Phoenix 2</h3>
</div>

<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-md-2">
			<div class="panel px-form-editor">
				<div class="panel-heading">
				    <h3 class="panel-title">Form editor</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
						    <label for="title">Form title</label>
						    <input type="text" class="form-control" ng-model="document.title" placeholder="Form title">
					  </div>
					</form>
				</div>
			</div>
			<!-- Add some space between this and the next column -->
			<div></div> 
		</div>
	
		<!-- Form -->
		<div class="col-md-8 panel px-form panel">

			<div class="panel-heading">
			    <h3 class="panel-title">Form</h3>
			</div>

			<div class="col-xs-12 main panel-body">
		
				<form class="form-horizontal" role="form">
					<div ng-repeat="(formGroup, layouts) in formGroups | orderBy:sortOrder" class="form-group">
						<div data-ng-repeat="layout in layouts">
							<label for="{{layout.key}}" ng-class="labelClass(layout)">{{layout.label}}</label>
					    <div ng-class="inputClass(layout)">
						    <input   type="{{layout.type}}" 
												class="form-control" 
													 id="{{layout.key}}" 
									placeholder="{{layout.key}}"
									   ng-model="document.data[layout.key]">
					    </div>
						</div>
				 	</div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button ng-click="save(document)" class="btn btn-default">Save</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	
		<div class="col-md-2">
			<!-- Add some space between this and the next column -->
			<div></div> 
			<div class="panel px-field-editor">
				<div class="panel-heading">
				    <h3 class="panel-title">Field editor</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
						    <label for="title">TODO</label>
					  </div>
					</form>
				</div>
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col-xs-12 main">
			<pre>document = {{document | json}}</pre>
		</div>
	</div>		
	
</div>	

<div class="footer">
  <p>♥ from Dave</p>
</div>

